.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container {
  width: 80vw;
  margin: 24px auto;
}

.total p{
  font-weight: 500;
}

.total span {  
  color: #fca311;
  font-weight: 500;
}